<form id="new-ticket" (ngSubmit)="onSubmit(titleInput.value, requestInput.value)" #form>
  <app-named-input class="named-input" label="Ticket Title" name="title">
    <input type="text" name="title" id="title" #titleInput />
  </app-named-input>
  <app-named-input class="named-input" label="Request" name="request">
    <textarea name="request" id="request" rows="3" #requestInput ></textarea>
  </app-named-input>
  <p>
    <button appButton>
      Submit
      <span class="icon">
        ▶
      </span>
    </button>
  </p>
</form>
